body{
  background-image: url(https://is4-ssl.mzstatic.com/image/thumb/Purple114/v4/27/bc/6d/27bc6df3-4281-cd90-86da-1c00221078df/source/512x512bb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.sidebar {
  width: 250px; /* Set the desired width of the sidebar */
  height: 100%; /* Make it full height */
  position: fixed; /* Fixed position to keep it visible while scrolling */
  top: 0;
  left: 0;
  background-color: #333; /* Sidebar background color */
  color: #fff; /* Text color */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}