body{
  background-image: url(https://is4-ssl.mzstatic.com/image/thumb/Purple114/v4/27/bc/6d/27bc6df3-4281-cd90-86da-1c00221078df/source/512x512bb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}